@import "tailwindcss";

@theme {
  --animate-fade-in-up: fadeInUp 1s ease-out forwards;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}
